<div id="block-rewardpoints" data-mage-init='{"collapsible":{"openedState": "active", "saveState": false}}' data-collapsible="true" class="block">
    <div class="title" data-role="title">
        <strong role="heading" aria-level="2">
           Spend Your Points
        </strong>
    </div>
    <div class="content-spend-point content" data-role="content" data-bind="scope:'block-rewardpoints'" aria-labelledby="block-rewardpoints-heading">
    <!-- ko template: getTemplate() --><!-- /ko -->
    </div>
<script type="text/x-magento-init">
    {
        "#block-rewardpoints": {
            "Magento_Ui/js/core/app": <?php /* @escapeNotVerified */ echo $block->getJsLayout();?>
        }
    }
</script>
</div>