<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var $block \Magento\Checkout\Block\Cart\Sidebar */
?>

<div data-block="minicart" class="minicart-wrapper">
    <a class="action showcart" href="<?php /* @escapeNotVerified */ echo $block->getShoppingCartUrl(); ?>"
       data-bind="scope: 'minicart_content'">
        <span class="counter-number"><!-- ko text: getCartParam('summary_count') --><!-- /ko --></span>
            <span class="total-price" data-bind="html: getCartParam('subtotal_incl_tax')"></span>
            <span class="counter-label">
            <!-- ko if: getCartParam('summary_count') -->
                <!-- ko text: getCartParam('summary_count') --><!-- /ko -->
                <!-- ko i18n: 'items' --><!-- /ko -->
            <!-- /ko -->
            <!-- ko ifnot: getCartParam('summary_count') -->
            $0.00
            <!-- /ko -->
            </span>
    </a>
    <?php if ($block->getIsNeedToDisplaySideBar()): ?>
        <div class="block block-minicart empty"
             data-role="dropdownDialog"
             data-mage-init='{"dropdownDialog":{
                "appendTo":"[data-block=minicart]",
                "triggerTarget":".showcart",
                "timeout": "2000",
                "closeOnMouseLeave": false,
                "closeOnEscape": true,
                "triggerClass":"active",
                "parentClass":"active",
                "buttons":[]}}'>
            <div id="minicart-content-wrapper" data-bind="scope: 'minicart_content'">
                <!-- ko template: getTemplate() --><!-- /ko -->
            </div>
        </div>
    <?php endif ?>
    <script>
        window.checkout = <?php /* @escapeNotVerified */ echo \Zend_Json::encode($block->getConfig()); ?>;
    </script>
    <script type="text/x-magento-init">
    {
        "[data-block='minicart']": {
            "Magento_Ui/js/core/app": <?php /* @escapeNotVerified */ echo $block->getJsLayout();?>
        },
        "*": {
            "Magento_Ui/js/block-loader": "<?php /* @escapeNotVerified */ echo $block->getViewFileUrl('images/loader-1.gif'); ?>"
        }
    }
    </script>
</div>


<script type="text/javascript">
    require(['jquery'],function($){
    jQuery(document).ready(function(){
        jQuery( ".minicart-wrapper" ).hover(
            function() {
                jQuery( ".minicart-wrapper .mage-dropdown-dialog" ).show();
                jQuery( ".minicart-wrapper .block-minicart" ).show();
                jQuery( ".minicart-wrapper" ).addClass('active');
                jQuery( ".minicart-wrapper .showcart" ).addClass('active');
            }, function() {
                jQuery( ".minicart-wrapper .mage-dropdown-dialog" ).hide();
                jQuery( ".minicart-wrapper .block-minicart" ).hide();
                jQuery( ".minicart-wrapper" ).removeClass('active');
                jQuery( ".minicart-wrapper .showcart" ).removeClass('active');
            }
          );
    });
    });
    </script>