<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/**
 * Product media data template
 *
 * @var $block \Magento\Catalog\Block\Product\View\Gallery
 */
 
 if($this->helper('Ktree\Zoom\Helper\Data')->getEnable()) {
$config  = $this->helper('Ktree\Zoom\Helper\Data')->getZoomConfig();
                $galleryImages = json_decode($block->getGalleryImagesJson(),true); 
                $moreImages = '';
                $moreImages2 = '';
               $i = 1;
               $isMain['full'] = '';
                foreach($galleryImages  as $galleryImage) {
                        if($galleryImage['isMain'] == true) {
                                $isMain = $galleryImage;
                        }
			$moreImages .= '<li><a href="'.$galleryImage['full'].'" data-image="'.$galleryImage['img'].'" data-zoom-image="'.$galleryImage['full'].'"> <img id="img_'.$i.'" src="'.$galleryImage['thumb'].'" /> </a></li>'; 
                        if($isMain['full'] == $galleryImage['full']){continue;}
                        $moreImages .= '<li style="display: none;"><a rel="prettyPhoto[gallery-product]" href="'.$galleryImage['full'].'" data-image="'.$galleryImage['img'].'" data-zoom-image="'.$galleryImage['full'].'"> <img id="img_'.$i.'" src="'.$galleryImage['thumb'].'" /> </a></li>';        
       $i++;
	 }
$_product = $block->getProduct();
?>
<div class="media-gallery" data-role="gallery-role">
    <div class="main-image">
        <div class="loader">
            <a id="link-main-image" href="<?php echo $isMain['full']; ?>" rel="prettyPhoto[gallery-product]">
                <img id="main-image" src='<?php echo $isMain['img'] ?>' data-zoom-image="<?php echo $isMain['full']; ?>"/>
            </a>
        </div>
        <?php if($_product->getPrice() > $_product->getFinalPrice()):?>
        <div class="box-sale"><span>Sale</span></div>
        <?php endif; ?>
        <?php if($_product->getFreeshipping()): ?>
        <div class="box-free-shipping"><span>Free <strong>shipping</strong></span></div>
        <?php endif; ?>
        </div>
    </div>
    <div class="clear"></div>
    <div id="gallery_images">
        <div class="more-views ma-more-img">
                <p class="click-view">click to view larger image</p>
                <ul>
                    <?php echo $moreImages; ?>
                </ul>
        </div>
    </div>
    
<!-- AddThis Button BEGIN -->
    <div class="addthis_toolbox addthis_default_style ">
        <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
        <a class="addthis_button_tweet"></a>
        <!--<a class="addthis_button_google_plusone" g:plusone:size="medium"></a>-->
        <a class="addthis_button_pinterest at300b"><span class="at_PinItButton"></span></a>
        <a class="addthis_counter addthis_pill_style"></a>
    </div>
    <script type="text/javascript" src="https://s7.addthis.com/js/250/addthis_widget.js#pubid=xa-4fce36935105cb6e"></script>
    <!-- AddThis Button END -->

<?php
$config['showLens'] = true;
$config['containLensZoom'] = true; 
$config['gallery'] ='gallery_images';
$config = array_filter($config);
?>
<script>
require(['jquery','ktreezoom'],function($){
    if($(window).width() > 768){
        $(window).load(function() {
                var zoomConfig = '<?php echo json_encode($config);  ?>';
                var jsonZoomConfig  = JSON.parse(zoomConfig);
                jsonZoomConfig['zoomType'] = (jQuery( window ).width() > 768 ) ? jsonZoomConfig['zoomType'] : "lens";
                $('#main-image').elevateZoom(jsonZoomConfig);
                $('#gallery_images a').on('click', function(){
                    //console.log(jsonZoomConfig);
                    // Remove old instance od EZ
                    $('.zoomContainer').remove();
                    $('#main-image').removeData('elevateZoom');
                    // Update source for images
                    $('#link-main-image').attr('href',$(this).data('zoom-image'));
                    $('#main-image').attr('src', $(this).data('image'));
                    $('#main-image').data('zoom-image', $(this).data('zoom-image'));
                    // Reinitialize EZ
                    $('#main-image').elevateZoom(jsonZoomConfig);
                });
        });
    }else{
                $('#gallery_images a').on('click', function(event){
                    event.preventDefault();
                    $('.zoomContainer').remove();
                    $('#main-image').removeData('elevateZoom');
                    // Update source for images
                    $('#link-main-image').attr('href','javascript:void(0);');
                    $('#main-image').attr('src', $(this).data('image'));
                    $('#main-image').data('zoom-image', $(this).data('zoom-image'));
                    // Reinitialize EZ
                });
    }
});
</script>
 <script type="text/javascript" charset="utf-8">
     require(['jquery'],function($){
$(window).load(function(){
    if($(window).width() > 768){
        $("a[rel^='prettyPhoto']").prettyPhoto();
    }else{
        $("#link-main-image").attr('href','javascript:void(0);');
    }
});
     });
</script>
<?php
 }
 else {
	 ?>
<div class="gallery-placeholder _block-content-loading" data-gallery-role="gallery-placeholder">
    <div data-role="loader" class="loading-mask">
        <div class="loader">
            <img src="<?php /* @escapeNotVerified */ echo $block->getViewFileUrl('images/loader-1.gif'); ?>"
                 alt="<?php /* @escapeNotVerified */ echo __('Loading...') ?>">
        </div>
    </div>
</div>
<?php $_product = $block->getProduct(); ?>
	<?php if($_product->getFreeshipping()): ?>
        <div class="box-free-shipping"><span>Free <strong>shipping</strong></span></div>
        <?php endif; ?>
<!-- AddThis Button BEGIN -->
    <div class="addthis_toolbox addthis_default_style ">
        <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
        <a class="addthis_button_tweet"></a>
        <!--<a class="addthis_button_google_plusone" g:plusone:size="medium"></a>-->
        <a class="addthis_button_pinterest at300b"><span class="at_PinItButton"></span></a>
        <a class="addthis_counter addthis_pill_style"></a>
    </div>
    <script type="text/javascript" src="https://s7.addthis.com/js/250/addthis_widget.js#pubid=xa-4fce36935105cb6e"></script>
    <!-- AddThis Button END -->
<script type="text/x-magento-init">
    {
        "[data-gallery-role=gallery-placeholder]": {
            "mage/gallery/gallery": {
                "mixins":["magnifier/magnify"],
                "magnifierOpts": <?php /* @escapeNotVerified */ echo $block->getMagnifier(); ?>,
                "data": <?php /* @escapeNotVerified */ echo $block->getGalleryImagesJson(); ?>,
                "options": {
                    "nav": "<?php /* @escapeNotVerified */ echo $block->getVar("gallery/nav"); ?>",
                    "loop": <?php /* @escapeNotVerified */ echo $block->getVar("gallery/loop"); ?>,
                    "keyboard": <?php /* @escapeNotVerified */ echo $block->getVar("gallery/keyboard"); ?>,
                    "arrows": <?php /* @escapeNotVerified */ echo $block->getVar("gallery/arrows"); ?>,
                    "allowfullscreen": <?php /* @escapeNotVerified */ echo $block->getVar("gallery/allowfullscreen"); ?>,
                    "showCaption": <?php /* @escapeNotVerified */ echo $block->getVar("gallery/caption"); ?>,
                    "width": <?php /* @escapeNotVerified */ echo $block->getImageAttribute('product_page_image_medium', 'width'); ?>,
                    "thumbwidth": <?php /* @escapeNotVerified */ echo $block->getImageAttribute('product_page_image_small', 'width'); ?>,
                    "thumbheight": <?php /* @escapeNotVerified */ echo $block->getImageAttribute('product_page_image_small', 'height')
                        ?: $block->getImageAttribute('product_page_image_small', 'width'); ?>,
                    "height": <?php /* @escapeNotVerified */ echo $block->getImageAttribute('product_page_image_medium', 'height')
                        ?: $block->getImageAttribute('product_page_image_medium', 'width'); ?>,
                    "transitionduration": <?php /* @escapeNotVerified */  echo $block->getVar("gallery/transition/duration"); ?>,
                    "transition": "<?php /* @escapeNotVerified */  echo $block->getVar("gallery/transition/effect"); ?>",
                    "navarrows": <?php /* @escapeNotVerified */  echo $block->getVar("gallery/navarrows"); ?>,
                    "navtype": "<?php /* @escapeNotVerified */  echo $block->getVar("gallery/navtype"); ?>",
                    "navdir": "<?php /* @escapeNotVerified */  echo $block->getVar("gallery/navdir"); ?>"
                },
                "fullscreen": {
                    "nav": "<?php /* @escapeNotVerified */  echo $block->getVar("gallery/fullscreen/nav"); ?>",
                    "loop": <?php /* @escapeNotVerified */  echo $block->getVar("gallery/fullscreen/loop"); ?>,
                    "navdir": "<?php /* @escapeNotVerified */  echo $block->getVar("gallery/fullscreen/navdir"); ?>",
                    "arrows": <?php /* @escapeNotVerified */  echo $block->getVar("gallery/fullscreen/arrows"); ?>,
                    "showCaption": <?php /* @escapeNotVerified */  echo $block->getVar("gallery/fullscreen/caption"); ?>,
                    "transitionduration": <?php /* @escapeNotVerified */  echo $block->getVar("gallery/fullscreen/transition/duration"); ?>,
                    "transition": "<?php /* @escapeNotVerified */  echo $block->getVar("gallery/fullscreen/transition/effect"); ?>"
                },
                "breakpoints": <?php /* @escapeNotVerified */ echo $block->getBreakpoints(); ?>
            }
        }
    }
</script>
<?php
 }
?>
<style>
@media (max-width: 768px){
    #main-image { width: 100%!important;} /* disable cloud zoom */
}
</style>