<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

?>
<?php $url = $block->getReviewsUrl() . '#customer-reviews'; ?>
<?php $urlForm = $block->getReviewsUrl() . '#customer-reviews'; ?>
<?php if ($block->getReviewsCount()): ?>
<?php $rating = $block->getRatingSummary(); ?>
<div class="product-reviews-summary<?php echo !$rating ? ' no-rating' : ''?>" itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
    <?php if ($rating):?>
    <div class="rating-summary">
         <span class="label"><span><?php /* @escapeNotVerified */ echo __('Rating') ?>:</span></span>
         <div class="rating-result" title="<?php /* @escapeNotVerified */ echo $rating; ?>%">
             <span style="width:<?php /* @escapeNotVerified */ echo $rating; ?>%"><span><span itemprop="ratingValue"><?php /* @escapeNotVerified */ echo $rating; ?></span>% of <span itemprop="bestRating">100</span></span></span>
         </div>
         <a  class="total-star"><span itemprop="reviewCount"><?php /* @escapeNotVerified */ echo number_format(($rating/20),0); ?></span><span> out of 5</span></a>
     </div>
    <?php endif;?>
    <div class="reviews-actions">
        <p>
            <a class="action view active-review" href="<?php /* @escapeNotVerified */ echo $url ?>"><span itemprop="reviewCount">Read all reviews</span></a> | 
        <a class="action add active-review" href="<?php /* @escapeNotVerified */ echo $urlForm ?>">Write a review</a>
        </p>
    </div>
</div>
<?php elseif ($block->getDisplayIfEmpty()): ?>
<div class="product-reviews-summary empty">
    <div class="reviews-actions">
        <a class="action add active-review" href="<?php /* @escapeNotVerified */ echo $urlForm; ?>">
            <?php /* @escapeNotVerified */ echo __('Be the first to review this product') ?>
        </a>
    </div>
</div>
<?php endif; ?>
<script type="text/javascript">
    require(['jquery'],function($){
    jQuery(document).ready(function(){
        jQuery('.active-review').click(function(){
            jQuery('.resp-tab-item').removeClass('resp-tab-active');
            jQuery('#review-tabs-title').addClass('resp-tab-active');
            jQuery('#tabs-1').hide();
            jQuery('#tabs-1').removeClass('resp-tab-content-active');
            jQuery('#tabs-2').addClass('resp-tab-content-active');
            jQuery(window).scrollTop(jQuery("#review-form").offset().top);
        });
    });
    });
</script>