<div class="featured-text-block-1 tag-list">
        <div>
                <div class="title-tag"><span>Buy With Confidence</span></div>
                <div class="box-tag">
                        <p><img alt="100 % Money back Guarantee" src="<?php echo $block->getViewFileUrl('images/MyOZeShop-icon-guarantee.png');?>"></p>
                        <div class="box-tag-text">
                                <p> 100 % Money back</p>
                                <span>Guarantee</span>
                        </div>
                </div>
                <div class="box-tag">
                        <p><img alt="AUSTRALIAN Standard" src="<?php echo $block->getViewFileUrl('images/MyOZeShop-warranty2.png');?>"></p>
                        <div class="box-tag-text">
                                <p>AUSTRALIAN Standard </p>
                                <span>1 Year Warranty</span>
                        </div>
                </div>
                <div class="box-tag">
                        <p>
                                <img alt="Payment 1" src="<?php echo $block->getViewFileUrl('images/MyOZeShop-icon-paypal-1.png');?>">
                                <img alt="Payment 2" src="<?php echo $block->getViewFileUrl('images/MyOZeShop-icon-paypal-2.png');?>">
                                <img alt="Payment 3" src="<?php echo $block->getViewFileUrl('images/MyOZeShop-icon-paypal-3.png');?>">
                                <img alt="Payment 4" src="<?php echo $block->getViewFileUrl('images/MyOZeShop-icon-paypal-4.png');?>">
                        </p>
                        <div class="box-tag-text">
                                <p>Secured Online</p>
                                <span>Payments</span>
                        </div>
                </div>
        </div>
</div>
<hr />

<input id="estimate_cart_yes" type="hidden" name="estimate[cart]" value="1" />
<div class="block block-shipping-estimate">
    <h3>Postage Calculator</h3>
    <div class="block-content">
        <p class="block-subtitle">Enter your postcode for estimated shipping</p>
        <div class="shipping-estimation-form" id="shipping-estimation-form">
            <div class="country">
                <select name="country_id" id="country_id">
                    <option value="AU">AU</option>
                </select>
            </div>
            <div class="input-box">
                <input class="input-text validate-postcode" type="text" id="estimate_postcode" name="postcode" value="" placeholder="postcode" />
            </div>
        </div>
        <div class="actions">
            <div class="f-right">
                <button type="button" title="Get a Quote" onclick="estimateProductShipping()" class="button"><span><span>GO</span></span></button>
            </div>
            <span class="please-wait f-left" id="shipping-estimate-loading-message" style="display:none;">
                Loading rates... </span>
        </div>
    </div>
    <div id="shipping-estimate-results" style="display:none">
    </div>
</div>
<!-- END block-shipping-estimate -->


<script type="text/javascript">
        function estimateProductShipping()
        {
            if(jQuery('#estimate_postcode').val() == ''){
                jQuery('#validation-postcode').remove();
                jQuery('#shipping-estimate-results').before('<div style="float: right; margin-right: 15px;" id="validation-postcode" class="validation-advice">Please enter the postcode</div>');
            }else{
				jQuery('#shipping-estimate-loading-message').show();
                var data = jQuery( '#product_addtocart_form' ).serialize();
                jQuery('#validation-postcode').remove();
                var estimationUrl = '<?php echo $this->getUrl('pdshipping/estimate/index'); ?>';
                jQuery('#shipping-estimate-results').hide();
                jQuery.ajax({
                    url : estimationUrl,
                    type: 'post',
                    data : data,
                    success : function (result){
                        jQuery('#shipping-estimate-results').html(result);
                        jQuery('#shipping-estimate-results').show();
						jQuery('#shipping-estimate-loading-message').hide();
                    }
                });
				
            }
        }
</script>