BODY.codisto .notices-wrapper
{
    display: none;
}

BODY.codisto #anchor-content
{
    width: 100%;
    padding: 0px;
    position: absolute;
    right: 0px;
    left: 88px;
    bottom: 0px;
    top: 92px;
}

BODY.codisto #anchor-content .page-columns
{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border-top: 2px solid #ccc;
}

BODY.codisto #anchor-content .page-columns .admin__old
{
    width: 100%;
    height: 100%;
}

BODY.codisto #anchor-content .page-columns .admin__old #container.main-col
{
    width: 100%;
    height: 100%;
    border-top: 2px solid black;
}

BODY.codisto #anchor-content .page-columns .admin__old #container.main-col IFRAME
{
    border: none;
    width: 100%;
    height: 100%;
    padding-right: 88px;
}

BODY.codisto .page-footer
{
    display: none;
}


#codisto-container
{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 10000;
    width: 100%;
    height: 100%;
}

#codisto-container IFRAME
{
    width: 100%; height: 100%; border-bottom: 1px solid #000;
}

#create-account-modal
{
    box-sizing: content-box;
    position: absolute;
    z-index: 2;
    background-color: transparent;
    top: 30px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.5);
    font-family: Roboto;
}

#create-account-modal .selection
{
    border: 1px solid #ccc;
    margin-top: 1px;
    margin-bottom: 1px;
    padding: 22px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#create-account-modal H1
{
    margin: 0px;
    background-color: rgba(255,255,255,0.9);
    padding: 6px;
    padding-top: 34px;
    padding-bottom: 10px;
    height: 36px;
    padding-left: 15px;
    font-weight: 500;
    border-bottom: 1px solid #e5e5e5;
}

#create-account-modal .option
{
    border: 1px solid #ccc;
    margin-top: 1px;
    margin-bottom: 1px;
    cursor: pointer;
    padding: 22px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

#create-account-modal .option INPUT[type=radio]
{
    vertical-align: top;
    margin-top: 3px;
}

#create-account-modal input[name=email]
{
    padding:5px;
    border-radius:5px;
}

#create-account-modal .country-code-chooser
{
    margin-top: 10px;
    margin-bottom: 10px;
    padding:5px;
    border-radius:5px;
}

#create-account-modal .option.active
{
    border: 2px solid #009;
    margin-top: 0px;
    margin-bottom: 0px;
}

#create-account-modal FORM
{
    background-color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
}

#create-account-modal .or
{
    padding: 20px;
    text-align: center;
}

#create-account-modal .next
{
    padding: 20px; text-align: right; width: 87%; margin-left: auto; margin-right: auto; padding-bottom: 2px;
}

#create-account-modal .next .button
{
    width: 80px;
}

#create-account-modal .footer
{
    padding: 15px;
    background-color: rgba(255,255,255,0.9);
    border-top: 1px solid #e5e5e5;
}

#create-account-modal .footer UL
{
    list-style-type: circle; margin-left: 40px;
}

#dummy-data-overlay
{
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    background-color: rgba(0,0,0,0.85);
}

#dummy-data
{
    position: absolute; z-index: 0; top: 0px; left: 0px; bottom: 0px; right: 0px; width:100%; height:100%
}

.codisto-templates UL.file-list LI:last-child
{
    border-top: 1px solid #ddd;
    padding-top: 12px;
}

.codisto-templates .button .dashicons
{
    vertical-align: middle;
    font-size: 125%;
}
