<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
// @codingStandardsIgnoreFile
?>
<div class="footer-container">
    <div class="footer">
        <footer class="page-footer">
            <div class="footer-top">
                <div class="content">
                    <div class="title-newsletter">
                        <p><span>Sign up for our Newsletter</span></p>
                        <p>to stay up-to-date on our promotions, special offers and more...</p>
                    </div>
                    <div class="form-newsletter">
                        <form class="form subscribe" action="#" method="post" id="newsletter-validate-detail">
                            <div class="field newsletter">
                                <div class="control">
                                    <input name="email" type="email" id="newsletter-text" placeholder="Email here..." />
                                </div>
                            </div>
                            <div class="actions">
                                <button class="action subscribe primary" title="Subscribe" type="submit">
                                    <span>Go</span>
                                </button>
                            </div>
                        </form>
                    </div>
                    <div class="follow">
                        <h5>Follow Us</h5>
                        <ul>
                            <li class="face-icon"><a href="" title=""><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li class="twitter-icon"><a href="" title=""><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li class="blog-icon"><a href="" title=""></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-content">
                <div class="content">
                    <div class="box-footer box-cat">
                        <h3>Shop by Category</h3>
                        <ul>
                            <li><a href="#" title="Interior">Interior</a></li>
                            <li><a href="#" title="Exterior">Exterior</a></li>
                            <li><a href="#" title="Performance">Performance</a></li>
                            <li><a href="#" title="Lights">Lights</a></li>
                            <li><a href="#" title="Wheels & Tires">Wheels & Tires</a></li>
                            <li><a href="#" title="Audio">Audio</a></li>
                        </ul>
                        <ul>
                            <li><a href="#" title="Repair Parts">Repair Parts</a></li>
                            <li><a href="#" title="Body Parts">Body Parts</a></li>
                            <li><a href="#" title="Tools">Tools</a></li>
                            <li><a href="#" title="Specialty">Specialty</a></li>
                        </ul>
                    </div>
                    <div class="box-footer box-help">
                        <h3>Help & Advice</h3>
                        <ul>
                            <li><a href="#" title="Payment">Payment</a></li>
                            <li><a href="#" title="Delivery">Delivery</a></li>
                            <li><a href="#" title="Returns">Returns</a></li>
                            <li><a href="#" title="Requests & Sourcing">Requests & Sourcing</a></li>
                            <li><a href="#" title="About Us">About Us</a></li>
                            <li><a href="#" title="Contact Us">Contact Us</a></li>
                        </ul>
                    </div>
                    <div class="box-footer box-acc">
                        <h3>My Account</h3>
                        <ul>
                            <p><a href="#" title="LOGIN">LOGIN</a><a href="#" title="SIGN UP">SIGN UP</a></p>
                            <li><a href="#" title="My Account">My Account</a></li>
                            <li><a href="#" title="Order History">Order History</a></li>
                            <li><a href="#" title="Change Password">Change Password</a></li>
                        </ul>
                    </div>
                    <div class="box-footer box-accept">
                        <h3>We ACCEPT</h3>
                        <ul>
                            <li><a href="#" title=""><img src="images/MH-accept-1.png" title="" alt="" /></a></li>
                            <li><a href="#" title=""><img src="images/MH-accept-2.png" title="" alt="" /></a></li>
                            <li><a href="#" title=""><img src="images/MH-accept-3.png" title="" alt="" /></a></li>
                            <li><a href="#" title=""><img src="images/MH-accept-4.png" title="" alt="" /></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copy">
                <div class="content">
                    <div class="footer-copy-left">
                        <a href="#" title="Machine Head"><img src="images/MH-logo.png" title="Machine Head" alt="Machine Head" /></a>
                    </div>
                    <div class="footer-copy-right">
                        <p><span>Copyright 2016 Machine Head International Pty </span><span>ACN: 609 523 819 | ABN: 74 958 585 726</span></p>
                        <a class="rainstorm" target="_blank" title="rainstorm" href="http://www.rainstormstudio.com.au/"><img alt="rainstorm" src="https://cloud.ecomclients.com/logo-rainstormstudio.png"></a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>
<script type='text/javascript'>
window.__lo_site_id = 66703;

    (function() {
        var wa = document.createElement('script'); wa.type = 'text/javascript'; wa.async = true;
        wa.src = 'https://d10lpsik1i8c69.cloudfront.net/w.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(wa, s);
     })();
    </script>
