<div class="footer-bottom">
    <div class="content">
        <div class="footer-content">
            <div class="box-footer box-cat">
                <h3>Shop by Categories</h3>
                <?php
                    $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
                    $categoryCollection = $objectManager->create('Magento\Catalog\Model\Category');
                    $category = $categoryCollection->load(2);
                    $childCategories = $category->getChildrenCategories();
                    $columnCount = 6;
                ?>
            <?php $i = 0; foreach ($childCategories as $_category): ?>
                    <?php if ($i++ % $columnCount == 0): ?>
                        <ul>
                    <?php endif; ?>    
                        <li><a href="<?php echo $_category->getUrl(); ?>" title="<?php echo $_category->getName(); ?>"><?php echo $_category->getName(); ?></a></li>
                    <?php if ($i % $columnCount == 0 || $i == count($childCategories)): ?>
                        </ul>
                    <?php endif; ?>
            <?php endforeach; ?>
            </div>
            <?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('footer_links')->toHtml();?>
            <div class="box-footer box-accept">
                <h3>My Account</h3>
                <ul>
                <?php
                $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
                $customerSession = $objectManager->get('Magento\Customer\Model\Session');
                if (!$customerSession->isLoggedIn()):
                    ?>
                    <p><a id="login" href="<?php echo $this->getUrl('customer/account/login'); ?>" title="LOGIN">LOGIN</a><a id="signup" href="<?php echo $this->getUrl('customer/account/create'); ?>" title="SIGN UP">SIGN UP</a></p>
                <?php endif; ?>
                <li><a href="<?php echo $this->getUrl('customer/account'); ?>" title="My Account">My Account</a></li>
                <li><a href="<?php echo $this->getUrl('sales/order/history'); ?>" title="Order History">Order History</a></li>
                <li><a href="<?php echo $this->getUrl('customer/account/edit/changepass/1'); ?>" title="Change Password">Change Password</a></li>
            </ul>
            </div>
        </div>
        <?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('footer_payment_copyright')->toHtml();?>
    </div>
</div>
<script type="text/javascript">
    require(['jquery'],function($){
        $(document).ready(function(){
            $('#login').click(function(){
                 ga('send', 'event', 'footer', 'click', 'login');
            });
			$('#signup').click(function(){
                ga('send', 'event', 'footer', 'click', 'signup');
            });
        });
    });
</script>