<div class="header-top">
	<?php //echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('header_text_top')->toHtml();?>
    <ul class="utility-links">
        <li><a title="News" href="<?php echo $this->getUrl('blog'); ?>">News</a></li>
        <?php
        $helper = $this->helper('Smv\Pdshipping\Helper\Data');
        if (!$helper->isLoggedIn()):
            ?>
            <li><a title="Login or Register" href="<?php echo $this->getUrl('customer/account/login'); ?>">Login or Register</a></li>
        <?php else: ?>
            <li><a href="<?php echo $this->getUrl('customer/account'); ?>" title="My Account" class="link-login">My Account</a></li>
            <li><a href="<?php echo $this->getUrl('customer/account/logout'); ?>" title="Logout" class="link-login">Logout</a></li>
        <?php endif; ?>
        <li><a title="Wishlist" href="<?php echo $this->getUrl('wishlist'); ?>">Wishlist</a></li>
    </ul>
</div>

<div class="header-main">
    <div class="header-main-left">
        <span data-action="toggle-nav" class="action nav-toggle"><span>Toggle Nav</span></span>
        <?php
        $blockObj = $block->getLayout()->createBlock('Magento\Theme\Block\Html\Header\Logo');
        ?>
        <strong class="logo">
            <a href="<?php echo $block->getUrl(); ?>" title="<?php echo $blockObj->getLogoAlt(); ?>"><img src="<?php echo $blockObj->getLogoSrc(); ?>" alt="<?php echo $blockObj->getLogoAlt(); ?>"  /></a>
        </strong>
    </div>
    <div class="header-main-center">
		<div class="ssl-checkout">
			<?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('ssl-checkout')->toHtml();?>
		</div>
        <?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('header_contact')->toHtml();?>
        <?php $layout = $block->getLayout(); ?>
        <?php
            echo $layout->renderElement('minicart');
        ?>
    </div>
    <div class="header-main-right">
        <div class="header-right header-form">
            <div class="block block-search">
                <div class="block block-title"><strong>Search</strong></div>
                <div class="block block-content">
                    <?php echo $this->getChildHtml('topSearch'); ?>

                </div>
            </div>
            <!-- end block-search -->
        </div>
		<div class="title-check-out-header">
			<h2>Checkout</h2>
		</div>
    </div>
</div>

<script type='text/javascript'>
window.__wtw_lucky_site_id = 66703;

(function() {
var wa = document.createElement('script'); wa.type = 'text/javascript'; wa.async = true;
wa.src = 'https://d10lpsik1i8c69.cloudfront.net/w.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(wa, s);
})();
</script>
