<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
use Magento\Framework\App\Action\Action;

// @codingStandardsIgnoreFile

?>
<?php
/**
 * Product list template
 *
 * @var $block \Magento\Catalog\Block\Product\ListProduct
 */
?>
<div class="widget block block-static-block">
    <div class="page-title-wrapper">
        <h1 class="page-title">
            <?php 
                $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
                $category = $objectManager->get('Magento\Framework\Registry')->registry('current_category');//get current category
                if($category){
                 echo $category->getName();
                }
             ?>
        </h1>
        <?php $layout = $block->getLayout(); ?>
        <?php
        if($category){
            echo $layout->renderElement('category.image');
        }
        ?>
    </div>
<?php
$_productCollection = $block->getLoadedProductCollection();
$_helper = $this->helper('Magento\Catalog\Helper\Output');
?>
<?php if (!$_productCollection->count()): ?>
    <div class="message info empty"><div><?php /* @escapeNotVerified */ echo __('We can\'t find products matching the selection.') ?></div></div>
<?php else: ?>
    <?php echo $block->getToolbarHtml() ?>
    <?php echo $block->getAdditionalHtml() ?>
    <?php
    if ($block->getMode() == 'grid') {
        $viewMode = 'grid';
        $image = 'category_page_grid';
        $showDescription = false;
        $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
    } else {
        $viewMode = 'list';
        $image = 'category_page_list';
        $showDescription = true;
        $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::FULL_VIEW;
    }
    /**
     * Position for actions regarding image size changing in vde if needed
     */
    $pos = $block->getPositioned();
    ?>
    <div class="products wrapper <?php /* @escapeNotVerified */ echo $viewMode; ?> products-<?php /* @escapeNotVerified */ echo $viewMode; ?>">
        <?php $iterator = 1; ?>
        <div class="block widget block-products-list grid">
            <div class="block-content">
                    <div class="products-grid grid">
                    <ol class="product-items widget-product-grid">
                        <?php /** @var $_product \Magento\Catalog\Model\Product */ ?>
                        <?php foreach ($_productCollection as $_product): ?>
                            <li class="product-item">
                                <div class="product-item-info">
                                    <a href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>" class="product-item-photo">
                                        
                                            <span class="product-image-wrapper">
                                                <?php
                                                    $image = 'category_page_grid';
                                                    $productImage = $block->getImage($_product, $image);
                                                    if ($pos != null) {
                                                        $position = ' style="left:' . $productImage->getWidth() . 'px;'
                                                            . 'top:' . $productImage->getHeight() . 'px;"';
                                                    }
                                                ?>
                                                <?php echo $productImage->toHtml(); ?>
                                            </span>
                                    </a>
                                    <div class="product-item-details">
                                        <strong class="product-item-name">
                                            <?php
                                                $_productNameStripped = $block->stripTags($_product->getName(), null, true);
                                            ?>
                                            <a title="<?php /* @escapeNotVerified */ echo $_helper->productAttribute($_product, $_product->getName(), 'name'); ?>" href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>" class="product-item-link"><?php /* @escapeNotVerified */ echo $_helper->productAttribute($_product, $_product->getName(), 'name'); ?></a>
                                        </strong>
										<a href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>">
										<div style="min-height:25px;" class="yotpo bottomLine" data-product-id="<?php echo $_product->getId() ?>"> </div></a>
                                        <?php //echo $block->getReviewsSummaryHtml($_product, $templateType,true); ?>
                                         <?php
                                                //print_r();exit;
                                                //$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
                                                $currencysymbol = '$';
                                                $msrp = $_product->getMsrp();
                                                $price = $_product->getPrice();
                                                $finalPrice = $_product->getFinalPrice();
                                                //print_r($price . $finalPrice);exit;
                                                $save = 0; 
                                                if($finalPrice < $price){
                                                    $save = 100 - ($finalPrice/$price) * 100;
                                                }elseif($finalPrice < $msrp){
                                                    $save = 100 - ($finalPrice/$msrp) * 100;
                                                }
                                                $save = number_format($save, 0);
                                                ?>
                                            <?php 
                                            $productType = $_product->getTypeID();
                                            if($productType != 'simple'){   
                                                echo $block->getProductPrice($_product);
                                            }else{  
                                        ?>
                                        <div class="price-box price-final_price" style="margin-top: 0px;" data-role="priceBox" data-product-id="<?php echo $_product->getId(); ?>">
                                            <span class="price-container price-final_price tax weee">
                                               
                                                <?php if($finalPrice < $price): ?>
                                                <span  id="old-price-<?php echo $_product->getId(); ?>-widget-product-grid" data-price-amount="<?php echo $finalPrice; ?>" data-price-type="finalPrice" class="price-wrapper " >
                                                    <span class="price <?php if($finalPrice == $price) echo 'price-new'; ?>"><?php echo $currencysymbol .number_format($finalPrice,2); ?></span>
                                                    <span class="price-was">was <?php echo $currencysymbol .number_format($price, 2); ?></span>
                                                </span>
                                                <span data-price-amount="<?php echo $finalPrice; ?>" data-price-type="finalPrice" class="price-wrapper ">
                                                    <span class="price-mrsp"><?php if($msrp) echo 'mrsp '.$currencysymbol .number_format($msrp, 2); ?></span>
                                                    <span class="price-save">save <?php echo $save; ?>%</span>
                                                </span>
                                                <?php elseif($finalPrice < $msrp): ?>
                                                <span  id="old-price-6-widget-product-grid" data-price-amount="<?php echo $finalPrice; ?>" data-price-type="finalPrice" class="price-wrapper " >
                                                    <span class="price <?php if($finalPrice == $price) echo 'price-new'; ?>"><?php echo $currencysymbol .number_format($finalPrice,2); ?></span>

                                                </span>
                                                <span data-price-amount="<?php echo $finalPrice; ?>" data-price-type="finalPrice" class="price-wrapper ">
                                                    <span class="price-mrsp"><?php if($msrp) echo 'mrsp '.$currencysymbol .number_format($msrp, 2); ?></span>
                                                    <span class="price-save">save <?php echo $save; ?>%</span>
                                                </span>
                                                <?php else: ?>
                                                <span  id="old-price-<?php echo $_product->getId(); ?>-widget-product-grid" data-price-amount="<?php echo $finalPrice; ?>" data-price-type="finalPrice" class="price-wrapper " >
                                                    <span class="price price-new"><?php echo $currencysymbol .number_format($finalPrice,2); ?></span>
                                                </span>
                                                <?php endif; ?>
                                            </span>
                                        </div>
                        <?php } ?>
                                        <div class="product-item-actions">
                                            <div class="actions-primary">
                                                <?php if ($_product->isSaleable()): ?>
                                                <?php $postParams = $block->getAddToCartPostParams($_product); ?>
                                                <form data-role="tocart-form" action="<?php /* @escapeNotVerified */ echo $postParams['action']; ?>" method="post">
                                                    <input type="hidden" name="product" value="<?php /* @escapeNotVerified */ echo $postParams['data']['product']; ?>">
                                                    <input type="hidden" name="<?php /* @escapeNotVerified */ echo Action::PARAM_NAME_URL_ENCODED; ?>" value="<?php /* @escapeNotVerified */ echo $postParams['data'][Action::PARAM_NAME_URL_ENCODED]; ?>">
                                                    <?php echo $block->getBlockHtml('formkey')?>
                                                    <button type="submit"
                                                            title="<?php echo $block->escapeHtml(__('Add to Cart')); ?>"
                                                            class="action tocart primary">
                                                        <span><?php /* @escapeNotVerified */ echo __('Add to Cart') ?></span>
                                                    </button>
                                                </form>
                                            <?php else: ?>
                                                <?php if ($_product->getIsSalable()): ?>
                                                    <div class="stock available"><span><?php /* @escapeNotVerified */ echo __('In stock') ?></span></div>
                                                <?php else: ?>
                                                    <a style="color:#fff;" href="<?php /* @escapeNotVerified */ echo $_product->getProductUrl() ?>" title="Stock Coming Soon" type="button" class="action tocart primary coming-soon">
                                                                                                                                            <span>Stock Coming Soon</span>
                                                                                                                                    </a>
                                                <?php endif; ?>
                                            <?php endif; ?>
                                            </div>
                                        </div>
                                        <?php if($_product->getFreeshipping()): ?>
                                        <div class="box-free-shipping"><span>Free <strong>shipping</strong></span></div>
                                        <?php endif; ?>
                                    </div>
                                    <?php if($finalPrice < $price): ?>
                                    <div class="box-sale"><span>Sale</span></div>
                                    <?php endif; ?>
                                </div>
                            </li>
                        <?php endforeach; ?>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <?php echo $block->getToolbarHtml() ?>
    <?php if($category){echo $layout->renderElement('category.description');} ?>
    <?php if (!$block->isRedirectToCartEnabled()) : ?>
        <script type="text/x-magento-init">
        {
            "[data-role=tocart-form], .form.map.checkout": {
                "catalogAddToCart": {}
            }
        }
        </script>
    <?php endif; ?>
<?php endif; ?>
</div>