<?php
$_product = $block->getProduct();
?>
<p class="post-code">Item number: <span><?php echo $_product->getSku(); ?></span></p>
<a id="click-review"><div id="product-review" class="yotpo bottomLine"
  data-product-id="<?php echo $_product->getId() ?>">
</div></a>

<script>
	require(['jquery'], function ($) {
		$(document).ready(function () {
			$("#click-review").click(function(){
				$('html,body').animate({ scrollTop: $('#horizontalTab').offset().top }, 'slow');
				$( ".resp-tab-item" ).removeClass('resp-tab-active');
				$( ".resp-tab-content" ).removeClass('resp-tab-content-active');
				$( ".resp-tab-item[aria-controls='tab_item-2']" ).addClass('resp-tab-active');
				$( ".resp-tab-content[aria-labelledby='tab_item-2']" ).addClass('resp-tab-content-active');
			});
			$('.aw-sbb-brand-info').insertAfter('.product-info-main #click-review');
		});
	});
</script>