<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/* @var $block \Magento\Catalog\Block\Product\AbstractProduct */
?>

<?php
switch ($type = $block->getType()) {

    case 'related-rule':
        if ($exist = $block->hasItems()) {
            $type = 'related';
            $class = $type;

            $image = 'related_products_list';
            $title = __('Related Products');
            $items = $block->getAllItems();
            $limit = $block->getPositionLimit();
            $shuffle = (int) $block->isShuffled();
            $canItemsAddToCart = $block->canItemsAddToCart();

            $showWishlist = true;
            $showCompare = true;
            $showCart = false;
            $templateType = null;
            $description = false;
        }
    break;

    case 'related':
        /** @var \Magento\Catalog\Block\Product\ProductList\Related $block */
        if ($exist = $block->getItems()->getSize()) {
            $type = 'related';
            $class = $type;

            $image = 'related_products_list';
            $title = __('Related Products');
            $items = $block->getItems();
            $limit = 0;
            $shuffle = 0;
            $canItemsAddToCart = $block->canItemsAddToCart();

            $showWishlist = true;
            $showCompare = true;
            $showCart = false;
            $templateType = null;
            $description = false;
        }
    break;

    case 'upsell-rule':
        if ($exist = $block->hasItems()) {
            $type = 'upsell';
            $class = $type;

            $image = 'upsell_products_list';
            $title = __('We found other products you might like!');
            $items = $block->getAllItems();
            $limit = $block->getPositionLimit();
            $shuffle = (int) $block->isShuffled();

            $showWishlist = false;
            $showCompare = false;
            $showCart = false;
            $templateType = null;
            $description = false;
            $canItemsAddToCart = false;
        }
    break;

    case 'upsell':
        /** @var \Magento\Catalog\Block\Product\ProductList\Upsell $block */
        if ($exist = count($block->getItemCollection()->getItems())) {
            $type = 'upsell';
            $class = $type;

            $image = 'upsell_products_list';
            $title = __('We found other products you might like!');
            $items = $block->getItemCollection()->getItems();
            $limit = $block->getItemLimit('upsell');
            $shuffle = 0;

            $showWishlist = false;
            $showCompare = false;
            $showCart = false;
            $templateType = null;
            $description = false;
            $canItemsAddToCart = false;
        }
    break;

    case 'crosssell-rule':
        /** @var \Magento\Catalog\Block\Product\ProductList\Crosssell $block */
        if ($exist = $block->hasItems()) {
            $type = 'crosssell';
            $class = $type;

            $image = 'cart_cross_sell_products';
            $title = __('More Choices:');
            $items = $block->getItemCollection();

            $showWishlist = true;
            $showCompare = true;
            $showCart = true;
            $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
            $description = false;
            $canItemsAddToCart = false;
        }
    break;

    case 'crosssell':
        /** @var \Magento\Catalog\Block\Product\ProductList\Crosssell $block */
        if ($exist = $block->getItemCount()) {
            $type = 'crosssell';
            $class = $type;

            $image = 'cart_cross_sell_products';
            $title = __('More Choices:');
            $items = $block->getItems();

            $showWishlist = true;
            $showCompare = true;
            $showCart = true;
            $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
            $description = false;
            $canItemsAddToCart = false;
        }
    break;

    case 'new':
        if ($exist = $block->getProductCollection()) {
            $type = 'new';
            $mode = 'grid';
            $type = $type . ' ' . $mode;

            $class = 'widget' . ' ' . $type;

            $image = 'new_products_content_widget_grid';
            $title = __('New Products');
            $items = $exist;

            $showWishlist = true;
            $showCompare = true;
            $showCart = true;
            $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
            $description = ($mode == 'list') ? true : false;
            $canItemsAddToCart = false;
        }
    break;

    case 'other':
    break;
}
?>

<?php if ($exist):?>
<div class="block upsell" data-mage-init='{"upsellProducts":{}}' data-limit="0" data-shuffle="0">
    <h3 class="title-block">Related Items</h3>
    <div class="block-content content" aria-labelledby="block-upsell-heading">
            <div class="products wrapper grid products-grid products-upsell">
                    <ol class="product-items widget-product-grid" style="width: 100%;">
                        <?php foreach ($items as $_item): ?>
                            <li class="product-item">
                                    <div class="product-item-info" style="position: relative;">
                                            <a href="<?php /* @escapeNotVerified */ echo $block->getProductUrl($_item) ?>" class="product-item-photo">
                                                    <?php echo $block->getImage($_item, $image)->toHtml(); ?>
                                            </a>
                                            <div class="product-item-details">
                                                    <strong class="product-item-name">
                                                    <a title="<?php echo $_item->getName(); ?>" href="<?php /* @escapeNotVerified */ echo $block->getProductUrl($_item) ?>" class="product-item-link"><?php echo $_item->getName(); ?></a>
                                                    </strong>
                                                <?php
                                                //print_r();exit;
                                                //$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
                                                $currencysymbol = '$';
                                                $msrp = $_item->getMsrp();
                                                $price = $_item->getPrice();
                                                $finalPrice = $_item->getFinalPrice();
                                                $save = 0; 
                                                if($finalPrice < $price){
                                                    $save = 100 - ($finalPrice/$price) * 100;
                                                }elseif($finalPrice < $msrp){
                                                    $save = 100 - ($finalPrice/$msrp) * 100;
                                                }
                                                $save = number_format($save, 0);
                                                ?>
                                                    <div class="price-box price-final_price" data-role="priceBox" ">
                                                            <span class="price-container price-final_price tax weee">
                                                                <?php if($finalPrice < $price): ?>
                                                                    <span class="price-wrapper " >
                                                                            <span class="price"><?php echo $currencysymbol .number_format($finalPrice,2); ?></span>
                                                                            <span class="price-was"><?php echo $currencysymbol .number_format($price,2); ?></span>
                                                                    </span>
                                                                <?php else: ?>
                                                                    <span class="price-wrapper " >
                                                                            <span class="price"><?php echo $currencysymbol .number_format($finalPrice,2); ?></span>
                                                                            <span class="price-was"></span>
                                                                    </span>
                                                                <?php endif; ?>
                                                            </span>
                                                    </div>
                                                    <div class="product-item-actions">
                                                            <div class="actions-primary">
                                                                    <?php if ($_item->isSaleable()): ?>
                                                                        <?php if ($_item->getTypeInstance()->hasRequiredOptions($_item)): ?>
                                                                            <button class="action tocart primary" data-mage-init='{"redirectUrl": {"url": "<?php /* @escapeNotVerified */ echo $block->getAddToCartUrl($_item) ?>"}}' type="button" title="<?php /* @escapeNotVerified */ echo __('Add to Cart') ?>">
                                                                                <span><?php /* @escapeNotVerified */ echo __('Add to Cart') ?></span>
                                                                            </button>
                                                                        <?php else: ?>
                                                                            <?php $postDataHelper = $this->helper('Magento\Framework\Data\Helper\PostHelper');
                                                                            $postData = $postDataHelper->getPostData($block->getAddToCartUrl($_item), ['product' => $_item->getEntityId()])
                                                                            ?>
                                                                            <button class="action tocart primary"
                                                                                    data-post='<?php /* @escapeNotVerified */ echo $postData; ?>'
                                                                                    type="button" title="<?php /* @escapeNotVerified */ echo __('Add to Cart') ?>">
                                                                                <span><?php /* @escapeNotVerified */ echo __('Add to Cart') ?></span>
                                                                            </button>
                                                                        <?php endif; ?>
                                                                    <?php else: ?>
                                                                        <?php if ($_item->getIsSalable()): ?>
                                                                            <div class="stock available"><span><?php /* @escapeNotVerified */ echo __('In stock') ?></span></div>
                                                                        <?php else: ?>
                                                                            <div class="stock unavailable"><span><?php /* @escapeNotVerified */ echo __('Out of stock') ?></span></div>
                                                                        <?php endif; ?>
                                                                    <?php endif; ?>
                                                            </div>
                                                    </div>
                                            </div>
                                            <?php if($finalPrice < $price): ?>
                                            <div class="box-sale"><span>Sale</span></div>
                                            <?php endif; ?>
                                    </div>
                            </li>
                        <?php endforeach; ?>
                    </ol>
            </div>
    </div>
</div>
<!-- END block upsell -->
<?php endif;?>
