<?php
/* @var $block \Aheadworks\Blog\Block\Post */
?>
<?php
    $post = $block->getPostModel();
    $categories = $block->getCategoryCollection();
?>
<?php if ($post): ?>
<div class="blog-item">
    <div class="title-blog">
        <h3><a href="<?php echo $block->getPostUrl($post) ?>" class="aw-blog-post__title-link"><?php echo $post->getTitle() ?></a></h3>
            <p>POST ON <span class="date-blog"><?php echo $block->formatDate($post->getPublishDate(), \IntlDateFormatter::MEDIUM) ?></span></p>
    </div>
    <div class="content-blog">
            <?php echo $block->getContent($post) ?>
        <?php if ($block->showReadMoreButton($post)): ?>
            <a href="<?php echo $block->getPostUrl($post) ?>" title="Read more" class="read-more">Read more</a>
            <?php endif; ?>
    </div>
	<div class="blog-share-social">
		<label>Share Now:</label>
		<!-- AddThis Button BEGIN -->
		<div class="addthis_toolbox addthis_default_style ">
			<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
			<a class="addthis_button_tweet"></a>
			<!--<a class="addthis_button_google_plusone" g:plusone:size="medium"></a>-->
			<a class="addthis_button_pinterest at300b"><span class="at_PinItButton"></span></a>
			<a class="addthis_counter addthis_pill_style"></a>
		</div>
		<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=xa-4fce36935105cb6e"></script>
		<!-- AddThis Button END -->
	</div>
</div>
<!-- END blog-item -->
    
<?php endif; ?>