<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreFile

/** @var $block \Magento\Catalog\Block\Product\View */
?>
<?php $_product = $block->getProduct(); ?>
<?php $buttonTitle = __('Add to Cart'); ?>
<?php if ($_product->isSaleable()): ?>
<div class="box-tocart">
    <div class="fieldset">
        <?php if ($block->shouldRenderQuantity()): ?>
        <div class="field qty">
            <label class="label" for="qty"><span>Qty:</span></label>
            <div class="control">
                <input type="button" onclick="var qty_el = document.getElementById('qty'); var qty = qty_el.value; if( !isNaN( qty ) &amp;&amp; qty &gt; 1 ) qty_el.value--;return false;" class="qty-decrease">
                <input type="number"
                       name="qty"
                       id="qty"
                       maxlength="12"
                       value="<?php /* @escapeNotVerified */ echo $block->getProductDefaultQty() * 1 ?>"
                       title="<?php /* @escapeNotVerified */ echo __('Qty') ?>" class="input-text qty"
                       data-validate="<?php echo $block->escapeHtml(json_encode($block->getQuantityValidators())) ?>"
                       />
                        <input type="button" onclick="var qty_el = document.getElementById('qty'); var qty = qty_el.value; if( !isNaN( qty )) qty_el.value++;return false;" class="qty-increase">
                
            </div>
            <!---<div class="stock available" title="Availability">
                    <a href="#"><span>In Stock</span></a>
            </div>-->
        </div>
        <?php endif; ?>
        <div class="actions">
            <button type="submit"
                    title="<?php /* @escapeNotVerified */ echo $buttonTitle ?>"
                    class="action primary tocart"
                    id="product-addtocart-button">
                <span><?php /* @escapeNotVerified */ echo $buttonTitle ?></span>
            </button>
            <?php
            $_wishlistSubmitParams = $this->helper('Magento\Wishlist\Helper\Data')->getAddParams($_product);
            ?>
            <!--<p><a href="#" title="Add to wishlist" data-post='<?php /* @escapeNotVerified */ echo $_wishlistSubmitParams; ?>'
                  data-action="add-to-wishlist">Add to wishlist</a></p>-->
            <?php echo $block->getChildHtml('', true) ?>
        </div>
    </div>
</div>
<?php if ($block->isRedirectToCartEnabled()) : ?>
<script type="text/x-magento-init">
    {
        "#product_addtocart_form": {
            "Magento_Catalog/product/view/validation": {
                "radioCheckboxClosest": ".nested"
            }
        }
    }
</script>
<?php else : ?>
<script>
    require([
        'jquery',
        'mage/mage',
        'Magento_Catalog/product/view/validation',
        'Magento_Catalog/js/catalog-add-to-cart'
    ], function ($) {
        'use strict';

        $('#product_addtocart_form').mage('validation', {
            radioCheckboxClosest: '.nested',
            submitHandler: function (form) {
                var widget = $(form).catalogAddToCart({
                    bindSubmit: false
                });

                widget.catalogAddToCart('submitForm', $(form));

                return false;
            }
        });
    });
</script>
<?php endif; ?>
<?php else: ?>
<div class="product-add-form">
    <form id="product_addtocart_form" method="post" action="#" novalidate="novalidate">
            <input type="hidden" value="14" name="product">
            <input type="hidden" value="" name="selected_configurable_option">
            <input type="hidden" value="" id="related-products-field" name="related_product">
            <input type="hidden" value="T3l3bILd6vFItPL5" name="form_key">                            
            <div class="box-tocart">
                    <div class="fieldset">
                            <div class="field qty">
                                    <label for="qty" class="label"><span>Quantity</span></label>
                                    <div class="control">
                                            <input type="button" class="qty-decrease" onclick="var qty_el = document.getElementById('qty'); var qty = qty_el.value; if( !isNaN( qty ) &amp;&amp; qty &gt; 1 ) qty_el.value--;return false;">
                                            <input type="number" data-validate="{&quot;required-number&quot;:true,&quot;validate-item-quantity&quot;:{&quot;minAllowed&quot;:1}}" class="input-text qty" title="Qty" value="1" maxlength="12" id="qty" name="qty">
                                                    <input type="button" class="qty-increase" onclick="var qty_el = document.getElementById('qty'); var qty = qty_el.value; if( !isNaN( qty )) qty_el.value++;return false;">
                                    </div>
                                    <!--<div title="Availability" class="out-stock stock available">
                                            <a href="#"><span>Out Stock</span></a>
                                    </div>-->
                            </div>
                            <div class="actions">
                                <button id="product-addtocart-button" class="action primary tocart" title="Stock Coming Soon" type="submit" disabled="">
                                    <span>Stock Coming Soon</span>
                                    </button>
                                    <?php
                                        $_wishlistSubmitParams = $this->helper('Magento\Wishlist\Helper\Data')->getAddParams($_product);
                                        ?>
                                        <!--<a href="#" title="Add to wishlist" data-post='<?php /* @escapeNotVerified */ echo $_wishlistSubmitParams; ?>'
                                        data-action="add-to-wishlist">Add to wishlist</a>-->
                            </div>
                    </div>
            </div>
    </form>
</div>
<?php endif; ?>


<script type="text/x-magento-init">
    {
        "body": {
            "addToWishlist": <?php /* @escapeNotVerified */ echo $this->helper('Magento\Framework\Json\Helper\Data')->jsonEncode($block->getWishlistOptions())?>
        }
    }
</script>