<?php
$description = $this->helper('Magento\Catalog\Helper\Output')->productAttribute($block->getProduct(), $block->getProduct()->getDescription(), 'description');
$short_description = $this->helper('Magento\Catalog\Helper\Output')->productAttribute($block->getProduct(), $block->getProduct()->getShortDescription(), 'short_description');
$inthebox = $this->helper('Magento\Catalog\Helper\Output')->productAttribute($block->getProduct(), $block->getProduct()->getInthebox(), 'inthebox');
//print_r($block->getProduct()->getData());exit;
?>
<div class="tab-description">
    <?php if($description):?>
    <div class="box-tab" id="box-tab-1">
        <h2 class="title-tab">Product Details</h2>
        <div class="box-content-tab">
            <div class="content-text">
                <?php /* @escapeNotVerified */ echo $description;  ?>
            </div>
        </div>
    </div>
    <!-- end box-tab 1 -->
    <?php endif; ?>
    <?php if($short_description):?>
    <div class="box-tab" id="box-tab-2">
        <h2 class="title-tab">Specification</h2>
        <div class="box-content-tab">
            <div class="content-text">
                <?php /* @escapeNotVerified */ echo $short_description;  ?>
            </div>
            <?php if($inthebox):?>
                <h5 class="title-box">In the Box</h5>
                <?php /* @escapeNotVerified */ echo $inthebox;  ?>
            <?php endif; ?>
            
        </div>
    </div>
    <!-- end box-tab 2 -->
    <?php endif; ?>
</div>
<?php $layout = $block->getLayout(); ?>

<?php
   // $html = $layout->renderElement('product.info.upsell');
?>
<?php /* @escapeNotVerified */ //echo $html; ?>

<?php
    $html = $layout->renderElement('product.related');
?>

<?php /* @escapeNotVerified */ echo $html; ?>
<!-- end tab-description -->
<div id="horizontalTab">
    <ul class="resp-tabs-list">          
        <li><a href="javascript:void(0)" title="Delivery">Delivery</a></li>	
        <li><a href="javascript:void(0)" title="Returns & Warranty">Returns & Warranty</a></li>
        <li><a href="javascript:void(0)" title="Reviews">Reviews</a></li>
        <li><a href="javascript:void(0)" title="Ask a Question">Ask a Question</a></li>
        
    </ul>
    <div class="resp-tabs-container">
        <div id="tabs-1" class="tab-content">
            <div class="content-text">
                <?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('delivery_tabs')->toHtml();?>
            </div>
        </div>
        <div id="tabs-2" class="tab-content">
            <div class="content-text">
                <?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('returns_warranty_tabs')->toHtml();?>
            </div>
        </div>
        <div id="tabs-3" class="tab-content">
            <?php
                $html = $layout->renderElement('widget_div_review');
            ?>
            <?php /* @escapeNotVerified */ echo $html; ?>
        </div>
		<div id="tabs-4" class="tab-content">
            <div class="ask-question-form">
				<form id="quote" action="<?php echo $this->getUrl('contact/index/postaskus');?>" method="post"
					  data-hasrequired="<?php /* @escapeNotVerified */ echo __('* Required Fields') ?>"
					  data-mage-init='{"validation":{}}'>
						<fieldset class="fieldset">
							<div class="row">
								<div class="col-xs-12 col-sm-6 col-md-6 field name required">
									<label for="name" class="label"><span>Name:</span></label>
									<div class="control">
											<input type="text" placeholder="Your Name" data-validate="{required:true}" class="input-text" value="" title="Name" id="name" name="name">
									</div>
								</div>
								<div class="col-xs-12 col-sm-6 col-md-6 field email required">
									<label for="email" class="label"><span>Email:</span></label>
									<div class="control">
											<input type="text" placeholder="Your Email" data-validate="{required:true}" class="input-text" value="" title="Email" id="email" name="email">
									</div>
								</div>
								<div class="col-xs-12 col-sm-12 field comment required">
									<label for="comment" class="label"><span>Comments:</span></label>
									<div class="control">
											<textarea placeholder="Your Question" data-validate="{required:true}" rows="3" cols="5" class="input-text" title="What’s on your mind?" id="comment" name="comment"></textarea>
									</div>
								</div>
							</div>
						</fieldset>
						<div class="actions-toolbar">
							<div class="primary">
								<input type="hidden" value="" id="hideit" name="hideit">
								<button class="action submit primary" title="Submit" type="submit">
										<span>Submit</span>
								</button>
							</div>
						</div>
				</form>
			</div>
        </div>
        <!-- END tabs 2 -->
    </div>
</div>
<!-- End horizontalTab -->
<script>
    require(['jquery'],function($){
jQuery(document).ready(function(){
    	jQuery('#horizontalTab').easyResponsiveTabs({
        type: 'default', //Types: default, vertical, accordion           
        width: 'auto', //auto or any width like 600px
        fit: true,   // 100% fit in a container
        closed: 'accordion', // Start closed if in accordion view
        activate: function(event) { // Callback function if tab is switched
            var tab = jQuery(this);
            var info = jQuery('#tabInfo');
            var name = jQuery('span', info);

            name.text(tab.text());

            info.show();
        }  
    });
});
    });
</script>