<?php
$_product = $block->getProduct();
?>
<?php
//print_r();exit;
//$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$currencysymbol = '$';
$msrp = $_product->getMsrp();
$price = $_product->getPrice();
$finalPrice = $_product->getFinalPrice();
$save = 0; 
if($finalPrice < $price){
    $save = 100 - ($finalPrice/$price) * 100;
}elseif($finalPrice < $msrp){
    $save = 100 - ($finalPrice/$msrp) * 100;
}
$save = number_format($save, 0);
?>

<div class="product-info-price">
        <div class="price-box price-final_price" data-product-id="<?php echo $_product->getId(); ?>" data-role="priceBox">
            <?php if($finalPrice < $price): ?>
                <span class="price-container price-final_price tax weee"
                        itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                        <span  id="product-price-<?php echo $_product->getId(); ?>" class="price-wrapper " itemprop="price" data-price-type="finalPrice" data-price-amount="<?php echo $finalPrice; ?>">
                                <span class="price"><?php echo $currencysymbol .number_format($finalPrice,2); ?></span>  
                        <meta itemprop="priceCurrency" content="AUD" />     
                        </span>
                    <span class="old-price">
                        was
                        <span class="price-wrapper" itemprop="price" data-price-type="oldPrice" data-price-amount="<?php echo $price; ?>" id="old-price-<?php echo $_product->getId(); ?>">
                                <span class="price-mrsp"><?php echo $currencysymbol .number_format($price, 2); ?></span>    
                        </span>  
                        </span>
                        <meta itemprop="priceCurrency" content="AUD" />
                </span>
            <?php else: ?>
                <span class="price-container price-final_price tax weee"
                        itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                        <span  id="product-price-<?php echo $_product->getId(); ?>" class="price-wrappe1r " itemprop="price" data-price-type="finalPrice" data-price-amount="<?php echo $finalPrice; ?>">
                                <span class="price"><?php echo $currencysymbol .number_format($finalPrice,2); ?></span>     
                        </span>
                        <meta itemprop="priceCurrency" content="AUD" />
                </span>
            <?php endif; ?>
            <?php if($msrp || $save): ?>
                <span class="price-container price-final_price tax weee"
                        itemprop="offers" itemscope itemtype="http://schema.org/Offer">
                        <span class="price-wrapper" itemprop="price">
                            <?php if($msrp): ?>
                                <span class="price-mrsp"><?php if($msrp) echo 'MRSP: '.$currencysymbol .number_format($msrp, 2); ?></span>   
                            <?php endif; ?>
                            <?php if($save): ?>
                                <span class="price-save">Save <?php echo $save; ?>%</span>  
                            <?php endif; ?>
                        </span>
                </span>
            <?php endif; ?>
            
         
                
        </div>
		<div class="stock-wishlist">
			<?php if ($_product->isSaleable()): ?>
				<div class="stock available" title="Availability">
					<a href="javascript:void(0);"><span>In Stock</span></a>
					<a class="ship" href="javascript:void(0);"><span>Ships within 24hrs</span></a>
					
				</div>
			<?php else : ?>
				<div title="Availability" class="out-stock stock available">
					<a href="#"><span>Out Stock</span></a>
				</div>
			<?php endif; ?>
			<?php $_wishlistSubmitParams = $this->helper('Magento\Wishlist\Helper\Data')->getAddParams($_product); ?>
				<a class="wishlist" href="#" title="Add to wishlist" data-post='<?php /* @escapeNotVerified */ echo $_wishlistSubmitParams; ?>'
				data-action="add-to-wishlist">Add to wishlist</a>
			
		</div>
</div>