<?php
/**
* Copyright 2018 aheadWorks. All rights reserved. 
*  See LICENSE.txt for license details.
*/

// @codingStandardsIgnoreFile

/* @var $block \Aheadworks\ShopByBrand\Block\Adminhtml\Page\Menu\Item */
?>
<li>
    <a <?php /* @noEscape */ echo $block->serializeLinkAttributes() ?>><?php echo $block->escapeHtml(__($block->getLabel())) ?></a>
</li>
