<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$storeManager = $objectManager->get('\Magento\Store\Model\StoreManagerInterface');
$BaseUrl = $storeManager->getStore()->getBaseUrl();
$ApiUrl = $BaseUrl.'onesaas_connect/index/index';
$ApiKey = $objectManager->create('Onesaas\Connect\Model\Resource\Key\Collection');
$data = $ApiKey->getData();
$key = $data[0]['key'];
$data = array('ApiUrl' => $ApiUrl, 'ApiToken' => $key);
$jsondata = json_encode($data);
$base64data = base64_encode($jsondata);
?>
<h2>2.2.0.7</h2> 
<div class="page-footer-content row">
	<p>Please copy the following Configuration Key into <a href="https://auth.app.onesaas.com/" title="OneSaas">OneSaas</a> configuration to get connected</p>
	<textarea cols="100" rows="4" onclick="this.focus();this.select()" readonly><?php echo $base64data; ?></textarea>
</div>
