<?php
/**
* Copyright 2018 aheadWorks. All rights reserved. 
*  See LICENSE.txt for license details.
*/

/* @var $block \Aheadworks\ShopByBrand\Block\Widget\ListBrand */

// @codingStandardsIgnoreFile
?>
<div class="widget block aw-sbb-list-brand">
    <?php if ($block->getTitle()): ?>
        <div class="block-title">
            <h2 class="title"><?php echo $block->escapeHtml($block->getTitle()) ?></h2>
        </div>
    <?php endif; ?>
    <div class="block-content">
        <?php if ($block->hasFeaturedBrands()): ?>
            <div class="box featured-brands">
                <div class="box-title">
                    <h3><?php echo $block->escapeHtml(__('Featured Brands')) ?></h3>
                </div>
                <div class="box-content">
                    <ol class="items brand-items">
                        <?php foreach ($block->getBrands() as $brand): ?>
                            <?php if ($brand->getIsFeatured()): ?>
                                <li class="item brand-item">
                                    <a href="<?php echo $block->escapeUrl($block->getBrandUrl($brand)) ?>" class="brand-logo">
                                        <img src="<?php echo $block->escapeUrl($block->getLogoUrl($brand)) ?>" width="95" height="95" />
                                    </a>
                                    <?php if ($block->isShowName()): ?>
                                        <a href="<?php echo $block->escapeUrl($block->getBrandUrl($brand)) ?>" class="brand-name">
                                            <?php echo $block->escapeHtml($brand->getName()) ?>
                                        </a>
                                    <?php endif; ?>
                                </li>
                            <?php endif; ?>
                        <?php endforeach; ?>
                    </ol>
                </div>
            </div>
            <div class="box">
                <div class="box-title">
                    <h3><?php echo $block->escapeHtml(__('All Brands')) ?></h3>
                </div>
                <div class="box-content">
        <?php endif; ?>
        <ol class="items brand-items">
            <?php foreach ($block->getBrands() as $brand): ?>
                <li class="item brand-item">
                    <a href="<?php echo $block->escapeUrl($block->getBrandUrl($brand)) ?>" class="brand-logo">
                        <img src="<?php echo $block->escapeUrl($block->getLogoUrl($brand)) ?>" width="95" height="95" />
                    </a>
                    <?php if ($block->isShowName()): ?>
                        <a href="<?php echo $block->escapeUrl($block->getBrandUrl($brand)) ?>" class="brand-name">
                            <?php echo $block->escapeHtml($brand->getName()) ?>
                        </a>
                    <?php endif; ?>
                </li>
            <?php endforeach; ?>
        </ol>
        <?php if ($block->hasFeaturedBrands()): ?>
                </div>
            </div>
        <?php endif; ?>
    </div>
</div>
