<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
// @codingStandardsIgnoreFile
?>
<div class="footer-top">
    <div class="content">
        <div class="box-subscribe">
            <div class="box-newsletter">
                <div class="title-newsletter">
                    <p><span>Newsletter Subscribe</span></p>
                    <p>Sign up for latest news and deals </p>
                </div>
                <div class="form-newsletter">
                    <form class="form subscribe"
                          novalidate
                          action="<?php /* @escapeNotVerified */ echo $block->getFormActionUrl() ?>"
                          method="post"
                          data-mage-init='{"validation": {"errorClass": "mage-error"}}'
                          id="newsletter-validate-detail">
                        <div class="field newsletter">
                            <div class="control">
                                <input name="email" type="email" id="newsletter-text"
                                       placeholder="<?php /* @escapeNotVerified */ echo __('Email Address') ?>"
                                       data-validate="{required:true, 'validate-email':true}"/>
                            </div>
                        </div>
                        <div class="actions">
                            <button id="btn-subcribe" class="action subscribe primary" title="Subscribe" type="submit">
                                <span>Go</span>
                            </button>
                        </div>
                    </form>
                </div>

            </div>
            <div class="follow">
                <?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('footer_social')->toHtml();?>
            </div>
        </div>
        <!--<div class="testimonial">
            <?php //echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('footer_text_block_1')->toHtml();?>
        </div>-->
		<div class="yotpo yotpo-reviews-carousel" 
 data-header-customisation-enabled="1" 
 data-header-customisation-color="#56575f" 
 data-header-customisation-font-size="18" 
 data-header-customisation-text="What Our Customers Have To Say" 
 data-header-customisation-alignment="left" 
 data-background-color="transparent" 
 data-mode="most_recent" 
 data-type="both" 
 data-count="9" 
 data-show-bottomline="1" 
 data-autoplay-enabled="1" 
 data-autoplay-speed="3000" 
 data-show-navigation="1">&nbsp;</div>
    </div>
</div>
<script type="text/javascript">
    require(['jquery'],function($){
        $(document).ready(function(){
            $('#btn-subcribe').click(function(){
                ga('send', 'event', 'footer', 'submit', 'newsletter');
                $( "#newsletter-validate-detail" ).submit();
            });
        });
    });
</script>
