<div class="featured-categories">
    <div class="content">
		<!--<div class="home-static-cat">
            <div class="row">
                <div class="col-xs-6 col-sm-3 col-md-3">
                    <div class="home-static-cat-item">
                        <a href="http://test.rainstormstudio.com.au/MyOZeShop/home-garden.html" title="Home & Garden ">
                            <div class="home-static-cat-image"><img src="{{media url="wysiwyg/myozeshop/MyOZeShop-cat-1.png"}}" alt="" /></div>
                            <p><span>Home & Garden </span></p>
                        </a>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3">
                    <div class="home-static-cat-item">
                        <a href="http://test.rainstormstudio.com.au/MyOZeShop/sports-fitness.html" title="Sport & Fitness">
                            <div class="home-static-cat-image"><img src="{{media url="wysiwyg/myozeshop/MyOZeShop-cat-2.png"}}" alt="" /></div>
                            <p><span>Sport & Fitness</span></p>
                        </a>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3">
                    <div class="home-static-cat-item">
                        <a href="http://test.rainstormstudio.com.au/MyOZeShop/agriculture-farming.html" title="Agriculture & Farming">
                            <div class="home-static-cat-image"><img src="{{media url="wysiwyg/myozeshop/MyOZeShop-cat-3.png"}}" alt="" /></div>
                            <p><span>Agriculture & Farming</span></p>
                        </a>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-3 col-md-3">
                    <div class="home-static-cat-item">
                        <a href="http://test.rainstormstudio.com.au/MyOZeShop/catering-kitchen.html" title="Catering & Kitchen">
                            <div class="home-static-cat-image"><img src="{{media url="wysiwyg/myozeshop/MyOZeShop-cat-4.png"}}" alt="" /></div>
                            <p><span>Catering & Kitchen</span></p>
                        </a>
                    </div>
                </div>
            </div>
        </div>-->
        <?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('home_featured_categories')->toHtml();?>
        <!-- END home-static-cat -->
    </div>
</div>
<div class="intro-information  featured-text-block-2">
        <div class="content">
                <?php echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('home_myozeshop_information')->toHtml();?>
        </div>
</div>