<?php

/** @var \Magestore\Shopbybrand\Block\Featurebrand $block */

    $store = $block->storeManager()->getStore()->getId();
    $featuredBrands = $block->getFeaturedBrands();
    $showAsSlider = $block->getSystemConfig()->showFeatureBrandAsSlider();
    $logo_width = $block->getSystemConfig()->logoWidth();
    $logo_height = $block->getSystemConfig()->logoHeight();
    $brandWidth = $logo_width + 50;
?>
<?php if (count($featuredBrands)):?>
<div class="brands-content">
    <div class="content">
        <h3 class="title-block">Our Trusted Brands <a href="<?php echo $this->getUrl('brand'); ?>" title="View All Brands">View All Brands</a></h3>
        <div class="home-brands-content">
            <?php 
                $i = 0;
                $noImg = '';

                if($featuredBrands->getSize()){
                    $noImg =  $block->getViewFileUrl('Magestore_Shopbybrand::images/shopbybrand/no-image.png');
                }
                foreach ($featuredBrands as $featuredBrand) : 
                    $i++;
                    $path = $featuredBrand->getData('thumbnail_image');
                    $img = ($featuredBrand->getData('thumbnail_image')==NULL) ? $noImg : $block->getImageHelper()
                        ->getMediaUrlImage($featuredBrand->getData('thumbnail_image'));

            ?>
            <div class="article">
                <a href="<?php echo $block->getBrandUrl($featuredBrand); ?>" title="Logo">
                    <img src="<?php echo $img; ?>" alt="<?php echo $featuredBrand->getName(); ?>" />
                </a>
            </div>
            <?php endforeach;?>
        </div>
    </div>
</div>
<!-- END brands-content -->
<?php endif; ?>