<?php
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
// @codingStandardsIgnoreFile
?>
<?php
/** @var $block \Magento\Framework\View\Element\Template */
/** @var $helper \Magento\Search\Helper\Data */
$helper = $this->helper('Magento\Search\Helper\Data');
?>
<form class="form minisearch" id="search_mini_form" action="<?php /* @escapeNotVerified */ echo $helper->getResultUrl() ?>" method="get">
    <div class="field search">
        <label class="label" for="search" data-role="minisearch-label">
            <span>Search</span>
        </label>
        <div class="control">
            <input id="search"
                   data-mage-init='{"quickSearch":{
                   "formSelector":"#search_mini_form",
                   "url":"<?php /* @escapeNotVerified */ echo $block->getUrl('search/ajax/suggest'); ?>",
                   "destinationSelector":"#search_autocomplete"}
                   }'
                   type="text"
                   name="<?php /* @escapeNotVerified */ echo $helper->getQueryParamName() ?>"
                   value="<?php /* @escapeNotVerified */ echo $helper->getEscapedQueryText() ?>"
                   placeholder="<?php /* @escapeNotVerified */ echo __('Keyword here...'); ?>"
                   class="input-text"
                   maxlength="<?php /* @escapeNotVerified */ echo $helper->getMaxQueryLength(); ?>"
                   role="combobox"
                   aria-haspopup="false"
                   aria-autocomplete="both"
                   autocomplete="off"/>
            <div id="search_autocomplete" class="search-autocomplete"></div>
        </div>
    </div>
    <div class="actions">
        <button id="btn-search" type="submit"
                title="Search"
                class="action search">
            <span>Search</span>
        </button>
    </div>
</form>
<script type="text/javascript">
    require(['jquery'],function($){
        $(document).ready(function(){
            $('#btn-search').click(function(){
                ga('send', 'event', 'header', 'submit', 'search');
                $( "#search_mini_form" ).submit();
            });
        });
    });
</script>

